<template>
<li class="flex justify-between w-72">
    <span> {{item.title}} </span>
    <button @click="deleteItem">Remove</button>
</li>
</template>

<script>
export default {
    props:{
        item:{
            type: Object,
        },
        index:{
            type: Number,
        }
    },
    methods: {
        deleteItem() {
            this.$emit('deleteItem', this.item.id)
        }
    }
}
</script>

<style>

</style>



<!-- @remove="items.splice(index, 1) -->