<template>

 <ul>
    <todo-list-item @deleteItem="$emit('deleteItem',index)" v-for="(todoItem, index) in myData" :key="index" :item="todoItem" :index="index"></todo-list-item>
 </ul>
</template>

<script>
import TodoListItem from './TodoListItem.vue'

export default {
  components:{
    TodoListItem
  },
  props:{
    myData:{
      type: Array,
    }
  }
  
  
}
</script>

<style>

</style>