<template>

        <form @submit.prevent>

            <input type="text" v-model="newItem" class="border-2 border-sky-500" placeholder="Give Me Something to Do :)">
            <button @click="addItem" class="ml-3 bg-sky-500 px-5">Add</button>
        </form>

       



</template>

<script>
export default {
   
    data(){
        return{
            newItem: "",
            }
    },
    methods:{
        addItem(){
            this.$emit("add-item", this.newItem)
            this.newItem = "" 
        },
    },
   
}
</script>

