<template>
<div class="container mx-auto flex  w-full justify-center items-center ">
  <div class="border-2 flex flex-col justify-center items-center">
    <todo-header class="font-bold my-5 border-b-2 border-black "></todo-header>
    <todo-input @add-item="addItem($event)" ></todo-input>
    <todo-list @delete-item="deleteItem" :myData="items"></todo-list>
  </div>
</div>
</template>


<script>
import TodoHeader from './components/TodoHeader.vue'
import TodoInput from './components/TodoInput.vue'
import TodoList from './components/TodoList.vue'

export default {
  components:{
    TodoHeader, TodoInput, TodoList
  },

  data() {
    return {
      items:[
      ],
    }
  },
   methods:{
        addItem(data){
          this.items.push({id:new Date().now, title: data})
          this.data = ""
        },
        deleteItem(id){
          // const findIndex = this.items.findIndex(item => item.id === id)
          // if(findIndex != -1) {
            this.items.splice(index, 1)
        }
    // fetchData () {
    //   fetch('https://jsonplaceholder.typicode.com/todos')
    //     .then(res => res.json())
    //     .then(data => {
    //       this.items = data.filter(item => item.id < 10)
    //     })
    // },
  },
    // created () {
    //   this.fetchData()
    // }
}
</script>
<style>

</style>
